@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Jura:regular,600,700&display=swap);


@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-weight: 500;
  background-color: #fff;
  line-height: 1.2;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 88.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.error__box {
  max-width: 1100px;
  margin: 50px auto 0;
  text-align: center;
}

.error-text {
  max-width: 357px;
  margin: 0 auto 100px;
  background-color: #BA001A;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?avuabw");
  src: url("fonts/icomoon.eot?avuabw#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?avuabw") format("truetype"), url("fonts/icomoon.woff?avuabw") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-poly:before {
  content: "\e912";
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e90a";
}

.icon-plus:before {
  content: "\e90b";
}

.icon-uniE90C:before {
  content: "\e90c";
}

.icon-1:before {
  content: "\e90d";
}

.icon-2:before {
  content: "\e90e";
}

.icon-3:before {
  content: "\e90f";
}

.icon-car:before {
  content: "\e910";
}

.icon-print:before {
  content: "\e911";
}

.icon-arrow:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-insta:before {
  content: "\e903";
}

.icon-map:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e905";
}

.icon-phone2:before {
  content: "\e906";
}

.icon-telegr:before {
  content: "\e907";
}

.icon-time:before {
  content: "\e908";
}

.icon-viber:before {
  content: "\e909";
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}


.header {
  color: #fff;
}

.header__contact {
  padding: 17px 10px;
  background-color: #1E1E1E;
}

.header__contact-inner {
  max-width: 1290px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contact-map {
  color: #D3D3D3;
}

.header__contact-tel {
  font-size: 22px;
  font-weight: 700;
}

.header__box {
  width: 100%;
  background-color: #5A0010;
}

.header__logo {
  padding-right: 15px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity: 0.95;
}

.header__content {
  max-width: 1290px;
  height: inherit;
  margin: 0 auto;
  padding: 17px 10px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo img {
  width: 100%;
}

.header__btn img {
  width: 100%;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  max-width: 800px;
  margin-left: 0;
  font-size: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 65%;
          flex: 1 65%;
}

.menu__list {
  max-width: 616px;
  width: 100%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu__item {
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.menu__item:hover {
  text-decoration: underline;
}

.item-menu__logo {
  display: none;
}

.btn {
  padding: 14px 32px;
  border-radius: 5px;
  border: 2px solid #fff;
}

.header__btn {
  font-size: 18px;
  font-weight: 600;
}

.header__btn:hover {
  background: rgba(217, 217, 217, 0.2);
}

.menu__item-subitem {
  width: 300px;
  margin-top: -50px;
  padding-top: 0;
  display: none;
  position: absolute;
  top: 70px;
  z-index: 10;
  font-weight: 400;
  font-size: 18px;
}

.menu__item-subitem ul {
  background-color: #5a0010;
  padding-top: 30px;
  padding-left: 15px;
  line-height: 2;
}

.serv {
  position: relative;
}

.serv:hover .menu__item-subitem {
  display: block;
}
.contacts-block {
  display: none;
}
.footer {
  background-color: #1E1E1E;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__name {
  font-size: 30px;
  font-weight: 700;
}

.footer__container {
  max-width: 1290px;
  color: #fff;
}

.footer__container p {
  color: #3C3C3C;
  font-size: 15px;
}

.footer__name {
  color: #BA001A;
}

.footer__name span {
  color: #fff;
}

.footer__name-bottom {
  padding: 20px 0 25px;
  border-top: 3px solid #3C3C3C;
  text-align: center;
}

.footer-menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__list-title {
  font-family: "Jura";
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
}

.footer__inner {
  max-width: 320px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer__contacts-tel {
  font-size: 22px;
}

.footer__contacts-map {
  color: #D3D3D3;
}

.footer__contacts li + li {
  margin-top: 14px;
}

.footer__btn {
  margin-top: 25px;
  padding: 19px 35px;
  border-radius: 5px;
  background-color: #BA001A;
  border-color: #BA001A;
  font-weight: 700;
  -webkit-transition: background-color ease-in-out 0.2s;
  -o-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  display: block;
}

.footer__btn:hover {
  background-color: #950015;
}

.footer__list {
  max-width: 261px;
  margin-left: 84px;
}

.footer-menu__list li {
  margin-bottom: 20px;
}

.footer__social {
  margin-top: -80px;
}

.footer__content {
  width: 100%;
  padding: 36px 0 26px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 42% 35%;
  grid-template-columns: 23% 42% 35%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__social-items {
  max-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-items a span {
  color: #BA001A;
  font-size: 40px;
}

.footer__social-items a span:hover {
  color: #950015;
}

.footer__social-title {
  display: none;
}

.bg__box {
  color: #fff;
}

.bg__slide {
  padding-top: 121px;
  background-size: cover;
}

.bg__slide-content {
  max-width: 593px;
}

.bg__slide-title {
  font-family: Jura;
  font-size: 50px;
  font-weight: 700;
}

.bg__slide-text {
  max-width: 465px;
  margin-top: 23px;
  font-size: 25px;
}

.bg__slide-btn {
  margin-top: 109px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 7px;
  border: 2px solid #fff;
}

.bg__slide-btn:hover {
  background-color: rgba(217, 217, 217, 0.2);
}


.swiper {
  height: 800px;
}
.bg-pagination span.swiper-pagination-bullet-active {
  background-color: #fff;
}
.bg-pagination {
  margin-top: -20px;
}
.second-slide {
  max-width: 788px;
}

.second-slide__btn {
  margin-top: 100px;
}

.bg__slide-img .second {
  min-height: 788px;
}

.bg__slide-three .bg__slide-content {
  margin-top: 127px;
  margin-left: 100px;
}

.bg__slide-three {
  background-size: cover;
}

.bg__slide-three .bg__slide-inner {
  max-width: 1600px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg__slide-img.three-slide {
  width: 100%;
  max-height: 800px;
  max-width: 800px;
  padding-top: 0;
}

.bg__slide-img.three-slide img {
  height: 100%;
}

.bg__slide-inner {
  max-width: 1145px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.bg__slide-img {
  max-width: 559px;
  padding-top: 25px;
}

.bg__slide-img img {
  width: 100%;
}

.bg__slide-box {
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg__slide-box .bg__slide-content {
  margin-top: 50px;
}

.bg__slide-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.bg__slide.five {
  padding-top: 0;
}

.content-five {
  height: 800px;
  max-width: 637px;
  padding-top: 190px;
  padding-left: 50px;
  background: rgba(30, 30, 30, 0.83);
}

.slide-six {
  padding-top: 0;
}

.six-img {
  max-width: 526px;
  padding-top: 53px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.six-img img {
  width: 100%;
}

.six-content {
  margin-top: 169px;
}

.six-img-text {
  position: relative;
}

.six-img-text p {
  font-family: Jura;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  bottom: -20px;
  right: 10px;
}

.seven__slide {
  padding-top: 0;
}

.seven-content {
  max-width: 1600px;
  padding-top: 45px;
  text-align: center;
}

.text-seven {
  max-width: 1134px;
  margin: 15px auto 0;
}

.btn-seven {
  margin-top: 72px;
}

.img-seven {
  max-width: 1600px;
  padding-top: 0;
}

.bg__benefits {
  background: rgba(30, 30, 30, 0.28);
  padding: 26px 10px;
}
.mobil__benefits {
  display: none;
}

.item-benefits {
  max-width: 998px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-benefits-item p {
  max-width: 200px;
  font-size: 25px;
}

.item-benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}

.swiper-pagination-bullet {
  height: 17px;
  width: 17px;
  color: rgba(94, 94, 94, 0.62);
}

.swiper-button-prev {
  position: absolute;
  bottom: 20%;
  left: 30px;
  font-size: 30px;
}

.swiper-button-next {
  position: absolute;
  bottom: 20%;
  right: 30px;
  font-size: 30px;
}

.title {
  font-family: Jura;
  font-size: 40px;
  font-weight: 700;
}

.reviews__slider {
  height: inherit;
}
.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  content: "prev";
  color: #fff;
}

.swiper-button-next::after,
.swiper-rtl .bg-pagination.swiper-button-prev::after {
  content: "next";
  color: #fff;
}

.swiper-button-next::after,
.swiper-rtl .works-pagination.swiper-button-prev::after {
  content: "next";
  color: rgb(171, 171, 171);
}

.swiper-button-prev::after,
.swiper-rtl .works-pagination.swiper-button-next {  
  color: rgb(171, 171, 171);
}
.reviews__button-prev.swiper-button-prev {
  position: absolute;
  top: 400px;
  left: 45%;
}
.reviews__button-next.swiper-button-next  {
  position: absolute;
  top: 400px;
  right: 45%;
}

.services__title {
  max-width: 275px;
  margin: 60px 0;
  border-bottom: 4px solid #BA001A;
}

.services__container {
  max-width: 1290px;
  margin: 0 auto;
  padding-bottom: 172px;
}

.services__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 309px;
  grid-template-columns: auto 309px;
}

.services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.services__item {
  max-width: 309px;
  border-radius: 10px;
  position: relative;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.services__item img {
  width: 100%;
  height: auto;
}

.services__item:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  background: -o-linear-gradient(86deg, rgba(186, 0, 26, 0.77) 6.45%, rgba(24, 24, 24, 0) 68.02%);
  background: linear-gradient(4deg, rgba(186, 0, 26, 0.77) 6.45%, rgba(24, 24, 24, 0) 68.02%);
  position: relative;
}

.services__item-inner {
  padding: 0 0 13px 20px;
  position: absolute;
  bottom: 10px;
}

.services__item-inner h4 {
  font-size: 30px;
  font-weight: 600;
}

.services__item-inner img {
  height: 38px;
  width: 38px;
}

.services__content-item {
  max-width: 309px;
  position: relative;
}

.services__content-item img {
  width: 100%;
}

.services__content-item a {
  position: absolute;
  top: 45%;
  left: 6%;
  background-color: #BA001A;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.services__content-item a:hover {
  background-color: #950015;
}

.why {
  background-color: #1E1E1E;
}

.why__box {
  max-width: 1221px;
  margin: 0 auto;
  padding: 58px 10px 110px;
  color: #fff;
}

.why__title {
  width: 307px;
  border-bottom: 4px solid #BA001A;
  padding-bottom: 3px;
}

.why__subtitle {
  font-family: Jura;
  font-size: 25px;
  font-weight: 700;
  margin-top: -15px;
  background-color: #1E1E1E;
  width: 139px;
}

.why__content {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 49px;
}

.why__about {
  max-width: 598px;
  display: -ms-grid;
  display: grid;
}

.why__about p {
  color: #FCFCFC;
}

.why__about-years {
  margin-top: 25px;
  font-family: Jura;
}

.why__about-years p,
.why__about-specialists p,
.why__about-clients p {
  position: relative;
}

.points {
  font-size: 70px;
  font-weight: 700;
}

.years {
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 5px;
  text-transform: uppercase;
}

.work {
  font-size: 30px;
  font-weight: 700;
}

.why__about-specialists {
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 55px;
}

.why__about-specialists,
.why__about-clients {
  font-family: Jura;
}

.why__about-specialists .points {
  font-size: 65px;
}

.why__about-btn {
  max-width: 272px;
  margin-top: 51px;
  background-color: #BA001A;
  border: none;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: background-color ease-in-out 0.3s;
  -o-transition: background-color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
}

.why__about-btn:hover {
  background-color: #950015;
}

.why__info {
  max-width: 570px;
}

.why__info-title {
  color: #EFEFEF;
  font-family: Jura;
  font-size: 30px;
  font-weight: 700;
}

.why__info-items {
  margin-top: 41px;
  padding-left: 32px;
}

.why__info-item span {
  text-decoration: underline;
}

.why__info-items li + li {
  margin-top: 55px;
}

.works__box {
  max-width: 1221px;
  margin: 56px auto 0;
  padding-bottom: 100px;
}

.works__more {
  margin-bottom: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__title {
  max-width: 270px;
  border-bottom: 4px solid #BA001A;
}
.work-arrow, .blog-arrow {
  font-size: 12px;
}
.works__slide-inner {
  max-width: 1084px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.works__slide-content {
  max-width: 536px;
  border-radius: 10px;
  overflow: hidden;
  gap: 12px;
  position: relative;
}

.works__slide-content img {
  width: 100%;
}

.works__slide-content p {
  position: absolute;
  bottom: 25px;
  left: 34px;
  color: #FCFCFC;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.works__more a {
  color: #ABABAB;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}

.works__more a:hover {
  color: rgb(186, 0, 26);
}
.swiper-pagination-bullet-active {
  background-color: #BA001A;
}
.price {
  background-color: #1E1E1E;
}

.price__box {
  max-width: 1277px;
  margin: 0 auto;
  padding: 51px 10px 108px;
  color: #fff;
  position: relative;
}

.price__title {
  max-width: 86px;
  border-bottom: 4px solid #BA001A;
}

.no-webp .price__img{
  background-image: url("../img/price.png"); }

.price__img {
  height: 603px;
  background-size: cover;
  background-position-y: -50px;
}

.mirrow-name {
  width: 173px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #BA001A;
  text-align: center;
  padding: 5px 0;
}

.mirrow-price {
  margin-top: 11px;
  font-size: 25px;
  position: relative;
}

.mirrow-price span {
  font-size: 13px;
  position: absolute;
  top: 0;
}

.mirrow {
  position: absolute;
  top: 26%;
  left: 23%;
}

.roof {
  position: absolute;
  top: 29%;
  right: 11%;
}

.trunk {
  position: absolute;
  top: 43%;
  right: 5%;
}

.doors {
  position: absolute;
  bottom: 25%;
  right: 10%;
}

.threshold {
  position: absolute;
  bottom: 15.5%;
  right: 21.5%;
}

.wing {
  position: absolute;
  bottom: 13%;
  left: 35%;
}

.bumper {
  position: absolute;
  bottom: 23%;
  left: 4.5%;
}

.blog__box {
  max-width: 1221px;
  margin: 0 auto;
  padding: 58px 10px 85px;
}

.blog__title {
  border-bottom: 4px solid #BA001A;
  width: 189px;
}

.blog__cards {
  max-width: 1104px;
  margin: 99px auto 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  gap: 20px;
}

.blog__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__more a {
  color: #ABABAB;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}

.blog__more a:hover {
  color: rgb(186, 0, 26);
}

.blog__card {
  max-width: 344px;
  border: 1.5px solid #DCDCDC;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.blog__card-text {
  color: #B5B5B5;
  margin: 20px 0 15px 22px;
  font-size: 13px;
  text-transform: lowercase;
}

.blog__card:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  border: 1.5px solid #BA001A;
}

.blog__card:hover .blog__card-more {
  color: #BA001A;
}

.blog__card-title {
  margin: 16px 0 41px 22px;
  font-size: 17px;
  font-weight: 600;
}

.blog__card-more {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.blog__card-info {
  margin: 0 22px 28px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__card-date {
  color: #B5B5B5;
  font-size: 13px;
  text-transform: lowercase;
}

.blog__card-img {
  width: 100%;
}

.blog__card-img img {
  width: 100%;
}

.reviews {
  background-color: #1E1E1E;
}
.reviews__wrapper {
  height: 339px;
}
.reviews__box {
  width: 100%;
  padding: 58px 0 111px;
  color: #fff;  
  min-height: 500px;
}
/*.reviews__button-prev.swiper-button-prev  {
  position: absolute;
  bottom: 0;


} */

.reviews__title {
  margin-bottom: 37px;
  border-bottom: 4px solid #BA001A;
  width: 160px;
  margin-left: 150px;
}

.works__slider {
  height: 600px;
}

.reviews__slider {  
  position: relative;
  padding-bottom: 100px;
}

.reviews__slide {
  max-width: 658px;
  min-height: 339px;
 /* height: 339px; */
  padding: 30px 30px 54px 50px;
  background-color: #333232;
  display: -ms-grid;
  display: grid;
}

.reviews__slide.swiper-slide-active {
  background-color: #393939;
}

.reviews__slide-title {
  margin-bottom: 27px;
  font-size: 22px;
  font-weight: 700;
}
.reviews__slide-star {
  display: flex;
  justify-content: space-between;
}
.reviews__slide-text {
  min-height: 120px;
  margin-bottom: 36px;
  font-size: 20px;
  font-weight: 400;
}

.reviews__slide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #8D8D8D;
}

.contacts__box {
  max-width: 1072px;
  padding: 133px 0 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__title {
  border-bottom: 4px solid #BA001A;
  width: 191px;
  margin-bottom: 46px;
}

.contacts__list {
  max-width: 354px;
  font-size: 22px;
  font-weight: 700;
}

.contacts__form {
  max-width: 426px;
}

.contacts__list-item {
  color: #807D7D;
  font-size: 22px;
  font-weight: 500;
}

.contacts__list li + li {
  margin-top: 31px;
}

.contacts__form-title {
  margin-top: 11px;
  margin-bottom: 32px;
  color: #ABABAB;
}

.form input {
  width: 100%;
  padding: 23px 21px;
  border-radius: 5px;
  border: 2px solid #C5C5C5;
  color: var(--unnamed, #ABABAB);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
}

.form input + input {
  margin-top: 30px;
}

.contacts__form-btn {
  width: 100%;
  margin-top: 30px;
  padding: 22px 0;
  border-radius: 5px;
  background-color: #BA001A;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: background-color ease-in-out 0.3s;
  -o-transition: background-color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
}

.contacts__form-btn:hover {
  background-color: #950015;
}

.map__box img {
  width: 100%;
}

.no-webp .map__discont{
  background-image: url("../img/map1.png"); }

.map__discont {
  padding: 100px;
  background-size: cover;
  background-position: bottom;
  color: #fff;
}

.map__discont-subtitle {
  font-family: Jura;
  font-size: 40px;
  font-weight: 700;
}

.map__discont-title {
  margin-bottom: 134px;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.map__discont-content {
  max-width: 657px;
}

.map__discont-text {
  color: #1E1E1E;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
}

.service-page__inner {
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 27px;
}

.service-page__title {
  border-bottom: 4px solid #BA001A;
  width: 176px;
  margin: 0 auto 84px;
}

.service-page__box {
  max-width: 1280px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
  grid-template-columns: 40% auto;
  gap: 33px;
}

.page__about {
  color: #D3D3D3;
}

.page__about span {
  color: #1E1E1E;
  text-decoration: underline;
}

.tab__title {
  height: 72px;
  padding-right: 10px;
  padding-left: 16px;
  border-radius: 5px;
  border: 2px solid #1E1E1E;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab__title span {
  font-size: 36px;
}

.tab__title span.icon-2 {
  font-size: 60px;
}

.service-page__sidebar li + li {
  margin-top: 7px;
}

.service-page__body {
  padding: 55px 40px;
  margin-bottom: 86px;
  border-radius: 5px;
  border: 2px solid #DCDCDC;
}

.service-page__body h3 {
  margin-bottom: 27px;
  font-size: 35px;
  font-weight: 600;
}

.service-page__body p + p {
  margin-top: 20px;
}

.service-page__body h4 {
  margin-top: 20px;
  text-decoration: underline;
}

.service-page__imgs {
  margin-top: 41px;
  display: -ms-grid;
  display: grid;
  gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.service-page__imgs img {
  max-width: 340px;
  width: 100%;
  max-height: 233px;
  height: 100%;
}

.service-page__texts {
  margin: 11px 0 89px 50px;
  color: #BABABA;
}

.service-page__subtitle img {
  margin-right: 18px;
  margin-top: 10px;
}

.service-page__pic {
  width: 100%;
  margin-top: 15px;
}

.polishing {
  width: 100%;
  -ms-grid-columns: 30% 70%;
  grid-template-columns: 30% 70%;
}

.polishing img {
  max-width: 406px;
  width: 100%;
  height: 100%;
}

._tab-active {
  color: #BA001A;
  border-color: #BA001A;
}

.blog-page__title {
  width: 189px;
  border-bottom: 4px solid #BA001A;
  margin: 0 auto;
}

.blog-page__box {
  margin-bottom: 289px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.blog-page__cards {
  max-width: 932px;
  margin-top: 72px;
}

.blog-page__card {
  height: 241px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 37% auto;
  grid-template-columns: 37% auto;
  gap: 17px;
  border: 1.5px solid #DCDCDC;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.blog-page__card:hover {
  border-color: #BA001A;
}

.blog-page__card:hover a {
  color: #BA001A;
}

.content-card {
  padding: 24px 17px 15px 0;
  display: -ms-grid;
  display: grid;
}

.img-card {
  max-width: 344px;
}

.img-card img {
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 30px;
  font-weight: 600;
}

.card-times {
  color: #B5B5B5;
  font-size: 13px;
}

.card-text {
  max-width: 486px;
  color: #ABABAB;
  font-size: 18px;
}

.blog-page__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.blog-page__card + .blog-page__card {
  margin-top: 27px;
}

.blog-page__sidebar {
  max-width: 322px;
  -webkit-box-flex: 0;
      -ms-flex: 0 30%;
          flex: 0 30%;
}

.blog-page__tag {
  width: 100%;
  text-align: center;
}

.tag-title {
  font-family: Jura;
  font-size: 30px;
  font-weight: 700;
}

.blog-page__sidebar {
  margin-top: 72px;
}

.blog-page__tag {
  padding: 15px 15px 30px;
  border: 1.5px solid #DCDCDC;
}

.tag-list {
  margin-top: 20px;
}

.tag-list li {
  padding: 10px;
  border-radius: 5px;
  background-color: #DCDCDC;
  font-size: 25px;
}

.tag-list li + li {
  margin-top: 9px;
}

.blog-page__category {
  width: 100%;
  margin-top: 14px;
  font-size: 14px;
  font-weight: 600;
}

.blog-page__category li {
  padding: 14px 14px 14px 10px;
  border-radius: 3.16px;
  border: 1.3px solid #1E1E1E;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.blog-page__category li:hover {
  border-color: #BA001A;
  color: #BA001A;
}

.blog-page__category li + li {
  margin-top: 9px;
}

.blog-page__pagination {
  padding-bottom: 99px;
}

.blog-page__pagination p {
  height: 71px;
  width: 71px;
  border-radius: 5px;
  border: 2px solid #1E1E1E;
  font-size: 30px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-box {
  margin-bottom: 168px;
}

.item__inner {
  max-width: 1277px;
  margin: 27px auto 0;
}

.item__title {
  max-width: 963px;
  margin: 55px auto 44px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.item-content {
  padding: 42px 30px 30px;
  font-size: 28px;
  border: 1.5px solid #DCDCDC;
}

.item-content p + p {
  margin-top: 30px;
}

.item-content-img {
  width: 100%;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
}

.item-content-img img {
  width: 100%;
  height: 100%;
}

.item-content-car {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.gallery-title {
  width: 296px;
  margin-top: 62px;
  margin-bottom: 70px;
  border-bottom: 4px solid #BA001A;
}

.gallery-inner {
  margin-bottom: 153px;
}

.gallery__slide-content {
  max-width: 545px;
  max-height: 554px;
}

.gallery__slide-content img {
  width: 100%;
}

.gallery__inner {
  position: relative;
  gap: 10px;
}

.gallery-prev,
.gallery-next {
  color: #BA001A;
}

.gallery-prev {
  position: absolute;
  top: 80%;
  left: 100px;
}

.gallery-next {
  position: absolute;
  top: 80%;
  right: 100px;
}
.error__box img {
  width: 100%;
}
.error__box {
  padding-left: 10px;
  padding-right: 10px;
}



@media (max-width: 998px) {
  .menu,
  .header__contact-map,
  .header__contact-time {
    font-size: 18px;
  }

  .header__btn {
    margin-left: 15px;
    font-size: 16px;
    padding: 14px 15px;
  }

  .footer-menu__list,
  .footer__contacts {
    font-size: 18px;
  }

  .footer__list {
    margin-left: 120px;
  }

  .services__content {
    gap: 10px;
  }

  .services__content a {
    font-size: 16px;
  }

  .services__content {
    -ms-grid-columns: auto 25%;
    grid-template-columns: auto 25%;
  }

  .services__item-inner h4 {
    font-size: 16px;
  }

  .services__item-inner a {
    font-size: 12px;
  }

  .services__item-inner img {
    height: 20px;
    width: 20px;
  }

  .more {
    padding: 14px 20px;
    width: 90%;
    font-weight: 500;
    text-align: center;
  }

  .works__box {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mirrow {
    top: 23%;
  }

  .roof {
    top: 24%;
    right: 5%;
  }

  .trunk {
    top: 35%;
    right: 0;
  }

  .bumper {
    bottom: 35%;
    left: 2%;
  }

  .wing {
    bottom: 26%;
  }

  .doors {
    bottom: 35%;
    right: 4%;
  }

  .threshold {
    bottom: 28%;
    right: 22%;
  }

  .contacts__box {
    padding-left: 10px;
    padding-right: 10px;
  }
  .bg__slide {  
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 64px;
  }
  .bg__slide-inner {
    gap: 15px;
  }
  .three-slide {
    margin-left: -100px;
  }
  .content-three {
    max-width: 450px;
  }
  .slide-box__four img{
    max-width: 700px;
    width: 100%;
  }
  .service-page__inner {
    padding: 0 10px;
  }
  .bg__slide-five {
    margin-right: -30px;
  }
  .content-five {
    max-width: 500px;
  }
  .bg__benefits {
    margin: 30px -30px 0 -30px;
  }
  .img-card img {
    height: inherit;
  }
  .blog-page__card {
    height: inherit;
  }
  
}

@media (max-width: 769px) {
  .title {
    width: 155px;
  }

  .services__content-item .more {
    padding: 14px 15px;
    font-size: 14px;
  }

  .why__title {
    width: 235px;
    font-size: 30px;
  }

  .why__about p,
  .why__info-item p {
    font-size: 18px;
  }

  .why__about-btn {
    max-width: 170px;
    font-size: 14px;
    padding: 0 15px;
  }
  .works__box {
    padding-bottom: 30px;
  }
  .works__title {
    width: 280px;
  }
  .works__more {
    font-size: 14px;
  }
  .works__slider {
    height: 450px;
  }

  .price__img {
    height: 400px;
    background-size: 100%;
  }

  .mirrow-name {
    width: 100px;
    font-size: 12px;
    font-weight: 400;
  }

  .trunk {
    right: 5%;
  }

  .doors {
    right: 8%;
  }

  .bumper {
    bottom: 33%;
    left: 6%;
  }

  .roof {
    right: 11%;
  }

  .contacts__form {
    max-width: 350px;
  }

  .contacts__title,
  .contacts__titles {
    font-size: 30px;
  }

  .map__discont {
    padding: 50px 20px;
  }

  .map__discont-subtitle {
    font-size: 20px;
  }

  .map__discont-title {
    font-size: 30px;
  }

  .map__discont-content {
    max-width: 400px;
  }

  .map__discont-text {
    font-size: 20px;
  }
  .reviews__slider {
    padding-bottom: 0;
  }
  .reviews__box {
    padding-bottom: 0;
  }
  .reviews__slide {
    min-height: 60px;
    height: 180px;
    padding: 22px;
    display: block;
  }
  .reviews__slide-text {
    min-height: 60px;
  }
  .reviews__slide-text {
    height: 70px;
    min-height: none;
    margin-bottom: 18px;
    font-size: 12px;    
  }
  .reviews__slide-title {
    font-size: 14px;
  }
  .reviews__slide-info {
    font-size: 10px;
  }
  .reviews__button-prev.swiper-button-prev {
    top: 260px;
    left: 45%;
  }
  .reviews__button-next.swiper-button-next  {
    top: 260px;
    right: 45%;
  }
  .bg__slide-title {
    font-size: 32px;
  }
  .bg__slide-text {
    font-size: 18px;
  }
  .bg__slide-btn {
    padding: 10px 24px;
    margin-top: 68px;
    font-size: 10px;
  }
  .item-benefits-item p {
    font-size: 18px;    
  }
  .bg__slider {
    height: 600px;
  }
  .bg__slide-content.content-three {
    max-width: 330px;    
    margin-left: 10px;
    padding-right: 50px;
  }
  .bg__slide-img.three-slide {  
    max-width: 350px;
    max-height: 350px;
  }
  .bg__slide-title.title-three  {
    margin-top: -120px;
  }
  .tab__title {
    height: 52px;
    padding-right: 7px;
    padding-left: 10px;
    font-size: 18px;
  }
  .service-page__box {
    -ms-grid-columns: 30% auto;
    grid-template-columns: 30% auto;
  }
  .service-page__body h3 {
    font-size: 28px;
  }
  .service-page__text {
    font-size: 16px;
  }
  .service-page__body {
    padding: 30px 20px;
  }
  .service-page__subtitle {
    width: 100%;
    font-size: 28px;
  }
  .contacts-block {
    background-color: #1E1E1E;
    color: #fff;
  }
  .header__contact {
    display: none;
  }
  .header__box {
    background-color: #1E1E1E;
  }
  .header__logo {
    margin: auto;
  }
  .card-title {
    font-size: 20px;
    font-weight: 500;
  }
  .content-card {
    padding: 10px 5px 5px 0;
    display: -ms-grid;
    display: grid;
  }
  .card-text {
    margin-top: 5px;
    font-size: 16px;
  }
  .blog-page__box {
    margin-bottom: 50px;
  }
  .blog-page__title {
    width: 170px;
    font-size: 30px;
  }
  .blog-page__cards {
    margin-top: 50px;
  }
  .tag-title {
    font-size: 25px;
    font-weight: 600;
  }
  .tag-list li {
    padding: 5px;
    font-size: 18px;
  }
  .blog-page__category li {
    padding:  10px;
  }
  .blog-page__pagination p {
    height: 40px;
    width: 40px;
    font-size: 18px;
    font-weight: 500;
  }

}

@media (max-width: 500px) {  
  .services__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .services__content-item {
    max-width: 500px;
  }

  .services__content-item img {
    display: none;
  }
  .services__content-item a {
    position: relative;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
  }
  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .why__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .why__about-specialists {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .why__about-years,
  .why__about-specialists,
  .why__about-clients {
    border-radius: 5px;
    background: #2C2C2C;
    padding: 8px 10px 16px 20px;
  }

  .why__about-specialists,
  .why__about-clients {
    width: 100%;
    margin-top: 10px;
  }

  .why__about-btn {
    padding: 10px;
  }

  .why__info {
    display: none;
  }

  .works__more {
    font-size: 10px;
    display: block;
    margin-bottom: 36px;
  }

  .works__title {
    width: 190px;
    font-size: 25px;
  }

  .works__more a {
    margin-top: 10px;
    display: block;
  }

  .works__slide-content p {
    font-size: 14px;
    bottom: 10px;
    left: 10px;
  }
  .works__slider {
    height: 350px;
  }
  .works-button-prev, .works-button-next {
    display: none;
  }
  .no-webp .price__img{
    background-image: url("../img/bg-mobile-lines.png"); }

  .price__img {
    height: 400px;
    background-size: 100%;
    background-position-y: 10px;
  }

  .mirrow-price {
    margin-top: 0;
    font-size: 16px;
  }

  .mirrow {
    top: 28%;
  }

  .roof {
    right: 35%;
    top: 12%;
  }

  .trunk {
    right: 5%;
    top: 21%;
  }

  .doors {
    right: 3%;
    top: 60%;
  }

  .threshold {
    bottom: 15.5%;
  }

  .wing {
    bottom: 11%;
  }

  .bumper {
    bottom: 19%;
    left: 18%;
  }

  .blog__title {
    font-size: 30px;
  }

  .blog__more {
    display: block;
  }

  .blog__more a {
    font-size: 12px;
  }

  .price__title,
  .works__title {
    font-size: 30px;
  }

  .works__more a {
    font-size: 12px;
  }

  .blog__cards {
    margin-top: 57px;
    overflow-x: auto;
    padding-bottom: 20px;
  }

  .footer__social-items {
    width: 240px;
  }

  .contacts__box {
    padding-top: 50px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .contacts__info {
    max-width: 500px;
    width: 100%;
    margin-top: 30px;
  }

  .contacts__titles {
    width: 316px;
  }

  .contacts__form {
    max-width: 500px;
  }

  .form input {
    padding: 17px;
  }

  .map__discont-content {
    max-width: 270px;
  }
  .reviews__box {    
    margin-left: 15px;
    margin-right: 25px;
  }
  .reviews__button-prev {
    bottom: 20%;
  }
  .reviews__button-prev.swiper-button-prev {
    top: 240px;
    left: 40%;
  }
  .reviews__button-next.swiper-button-next  {
    top: 240px;
    right: 40%;
  }
  .reviews__slider {
    padding-bottom: 0;
  }
  .footer__content {
    padding-left: 30px;
    margin-bottom: 20px;
    display: block;
  }

  .footer__logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .footer__list-title {
    margin-top: 33px;
    font-size: 26px;
  }

  .footer__list {
    margin-left: 0;
  }

  .footer-menu__list,
  .footer__contacts {
    font-size: 14px;
  }
  .footer__btn {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer__social-title {
    display: block;
  }
  .footer-menu__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    margin-bottom: 51px;
  }

  .footer__contacts-tel {
    font-size: 18px;
  }

  .footer__social-title {
    margin-bottom: 17px;
    font-family: "Jura";
    font-size: 25px;
    font-weight: 700;
  }
  .bg__benefits {
    display: none;
  }
  .bg__slide {
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .bg__slide-inner {
    flex-wrap: wrap-reverse;
  }
  .img-first {
    max-width: 334px;
    margin-left: 200px;
  }
 
  .bg-button-prev, .bg-button-next {
    display: none;
  }
  .bg__slide-img img {
    width: inherit;
    padding-left: 120px;
  }
  .bg__slide { 
    padding-top: 30px;   
  }
  .bg__slide-btn {
    width: 100%;
    font-size: 18px;
    padding: 18px 10px;
    margin-top: 29px;
  }
  .inner-three {
    flex-wrap: wrap-reverse;
  }
  .second-slide__btn {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .three-slide {
    margin-left: 0;
  }
  .bg__slide-three  {
    margin-top:0;
  }
  .bg__slide-img img {
    padding-left: 0;
  }
   .bg__slide-content.content-three {
    max-width: none;
  }
  .bg__slide-title.title-three {
    max-width: 380px;
    margin-bottom: 80px;
  }
  .bg__slide-title.title-three {
    margin-top: -300px;
    position: relative;
    margin-bottom: 50px;
  }
  .bg__slide-img.three-slide {  
    max-height: 400px;
  }
  .bg__slider {
    height: 600px;
  }
  .title-second {
    margin-top: 50px;
    margin-bottom:42px;
  }
  .bg__slide-inner .inner-three {
    height: 700px;
  }
  .three-slide__btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .slide-box__four {
    flex-wrap: wrap;
  }
  .four-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .error-text {
    max-width: 257px;
  }
  .services__container {
    padding-bottom: 84px;
  }
  .service-page__box {
    display: block;
  }
  .service-page__title {
    font-size: 30px;
    margin: 50px auto 30px;
  }
  .bg__slide-four {
    height: 600px;
  }
  .content-five {
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 200px;
  }
  .bg__slide .seven__slide  {
    padding-right: 0;
  }
  .bg__slide.five {
    padding-left: 0;
  }
  .six-img {
    padding-top: 0;
    margin: 0 auto;
  }
  .six-img-img {
    width: 300px;
    height: 138px;  
  }
  .six-content {
    margin-top: 0;
  }
  .bg__slide-seven {
    height: 600px;
  }
  .img-seven {
    height: 193px; 
    max-width: 500px;
    overflow: hidden;
  }
  .img-seven img {
    height: 100%;
    margin-left: -50px;  
  }
  .seven__slide {
    margin-top: -30px;    
  }
  .bg__slide.seven__slide {
    padding-left: 0;
    padding-right: 0;
  }

  .item-benefits {
    padding: 45px 29px 60px 39px;
    background-color: #1E1E1E;
    display: block;
    color: #fff;
  }
  .item-benefits-item {
    margin: 15px 0;
  }
  .item-benefits-item p {
    max-width: 241px;
  }
  p.item-benefits-text {
    max-width: 190px;
    margin-top: 4px;
    font-size: 14px;
  }
  .item-benefits-linesup {
    background-image: url('../img/linesup.png');
    height: 53px;
    background-repeat: no-repeat;
    background-position-x: 80px;
  }
  .item-benefits-lines {
    background-image: url('../img/lines-benefits.png');
    height: 53px;
    background-repeat: no-repeat;
    background-position-x: 80px;
  }
  .why__about-btn {
    display: none;
  }
  .mobil__benefits {
    display: block;
  }
  .blog-page__card {
    grid-template-columns: inherit;
  }
  .content-card {
    padding-left: 5px;
  }
  
}

@media (max-width: 450px) {
  .price__img {
    height: 380px;
  }

  .threshold {
    top: 70%;
  }

  .bumper {
    bottom: 23%;
  }

  .doors {
    top: 60%;
  }
}

@media (max-width: 400px) {
  .price__img {
    height: 340px;
  }
  
}

@media (max-width: 350px) {
  .price__img {
    height: 300px;
  }
  
}

@media (max-width: 320px) {
  .price__img {
    height: 280px;
  }
}

@media (max-width: 769px) {
  .menu {
    position: relative;
  }

  .header {
    text-align: start;
  }

  .header__box {
    padding: 0 15px;
  }

  .header__content {
    position: relative;
  }

  .header__contacts {
    position: absolute;
    right: 52px;
    opacity: 1;
  }

  .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }

  .item-menu__logo {
    display: block;
    color: #BA001A;
  }

  .item-menu__logo span {
    color: #1E1E1E;
  }

  .header__nav li {
    display: block;
  }

  .header__nav-item {
    margin-left: 20px;
  }

  .header__nav .menu ul {
    padding-top: 30px;
  }

  .header__btn {
    display: none;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    left: 10px;
  }

  .menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

  .menu {
    position: fixed;
    padding-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    line-height: 1.8;
    color: #1E1E1E;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    opacity: 1;
  }

  .menu.active {
    width: 300px;
    height: 500px;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    z-index: 5;
    opacity: 1;
  }

  .menu li {
    list-style-type: none;
    padding: 16px 0 16px 28px;
    border-bottom: 1px solid #DCDCDC;
  }

  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    background-color: #1E1E1E;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -ms-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    background-color: #1E1E1E;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
    -ms-transform: translate(-50%, 0%) rotate(-45deg);
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .menu-btn.active {
    margin-left: 200px;
  }
  .menu__list {
    display: block;
  }
  .menu__item-subitem ul{
    background-color: #fff;
    margin-left: 80px;
  }
  .menu .menu__item-subitem ul li{
    list-style-type: none;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #DCDCDC;
  }

  .contacts-messanger,
  .contacts-tel-span {
    display: none;
  }

  .footer__content {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: center;
    gap: 30px;
  }

  .footer__list-title {
    font-size: 30px;
  }

  .footer__list {
    margin-left: 0;
  }

  .footer__social {
    margin-top: 0;
  }
  .header__contact-map, .header__contact-time {
    font-size: 16px;
    font-weight: 500;
  }
  .header__contact-time {
    margin: 21px 0;
  }
  .header__contact-tel {
    font-size: 22px;
    font-weight: 500;
  }
}

.webp .price__img{ background-image: url(../img/price.webp); }

.webp .map__discont{ background-image: url(../img/map1.webp); }

@media (max-width: 500px){

  .webp .price__img{ background-image: url(../img/bg-mobile-lines.webp); }
}

@media (max-width: 500px){

  .webp .map__discont{ 
    background-image: url(../img/map1-mobile.webp);
    background-size: cover;
    height: 500px; }
}